#Canopy {
  box-shadow: 0 0 3px #888;
  position: relative;
  top: 46px;
  width: 100%;
  #Canopy-header {
    background: $color-text-link;
    height: 175px;
    width: 100%;
  }
  #Canopy-navBar {
    background: #FFF;
    height: 60px;
    width: 100%;
  }
}
