#right {
  margin-left: 15px;
  width: 600px;
  #tweet-box {
    background: $color-header; // height: 60px;
    width: 100%;
    display: block;
    .textbox-wrapper {
      align-items: center;
      background: $color-header;
      padding-left: 42px;
      padding-top: 10px;
      height: 100%;
      justify-content: center;
      width: 100%;
      display: block;
    } //.textbox-wrapper
    .button-wrapper {
      display: block;
      text-align: right;
      width: 541px;
      margin-bottom: 10px;
    }
    .capture{
      display: inline-block;
      width:52px;
    }
    .textbox{
      width: 500px - 52px;
    }
  } //#tweet-box
  // ------------------------------------------------------
  article.history {
    visibility: hidden;
    display: none;
    background: $color-2nd;
    margin-top: 1px;
    padding: 20px 0;
    width: 100%;
  } //article.history
} // #right
