$columnSize: 600px;
$columnSizeMin: 100px;
#right {
  margin-left: 15px;
  width: 100%;
  max-width: $columnSize;
  min-width: $columnSizeMin;
  #tweet-box {
    background: $color-header; // height: 60px;
    width: 80%;
    display: block;
    .textbox-wrapper {
      align-items: center;
      background: $color-header;
      padding-left: 42px;
      padding-top: 10px;
      height: 100%;
      justify-content: center; // width: 100%;
      width: $columnSize - 42px;
      display: block;
    } //.textbox-wrapper
    .button-wrapper {
      display: block;
      text-align: right;
      max-width: $columnSize - 59px;
      min-width: $columnSizeMin - 59px;
      margin-bottom: 10px;
      .button.submit {
        margin-right: 14px;
        &:hover {
          background: lighten($color-text-link, 10%);
        }
        &:disabled {
          background: grayscale($color-text-link);
          color: darken(#FFF, 30%);
        }
      }
    }
    .capture {
      display: flex;
      width: 100%;
      justify-content: center;
      span.title {
        display: flex;
        align-items: center;
        width: 130px;
      }
      .textbox {
        width: $columnSize - 100px - 52px;
        margin-right: 14px;
      }
      div.counter-wrapper {
        display: flex;
        width: 105px;
        align-items: center;
        justify-content: center;
        .counter,
        .maxval {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .maxval:before {
          content: "/"
        }
      }
    }
  } //#tweet-box
  // ------------------------------------------------------
  article.history {
    background: $color-2nd;
    margin-top: 1px;
    padding: 20px;
    &:hover {
      background: #e6ecf0;
    }
  } //article.history
} // #right
