// scss
// Twitter color pallet
$color-base: rgb(230, 236, 240); // ヘッダとかarticleとか
$color-header: rgb(243, 230, 229);
$color-1st: rgb(255, 255, 255); // article base
$color-2nd: rgb(245, 248, 250); // article base hover
$color-text: rgb(20, 23, 26);
$color-text-link: rgb(143, 7, 0);
@import '__reset.scss';
@import '__Header.scss';
@import '__Canopy.scss';
@import '__ProfileCard.scss';
@import '__Right.scss';
@font-face {
  font-family: 'edgeicons';
  src: url('edge-icons-Regular.woff') format('woff');
}

.outer-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.outer-spacer {
  display: flex;
  justify-content: center;
}

.inner-spacer {
  background: rgba(255, 0, 0, .5);
  width: 14 * 2 + 10 + 290 + 590px;
}

body {
  background: $color-base;
  height: 100%;
  width: 100%;
  #wrapper {
    padding-top: 10px;
    #container {
      display: flex;
      height: 100%; // TODO:最後外す
      padding: 56px 14px 15px;
      width: 14 * 2 + 10 + 290 + 590px;
    }
  }
}

.button {
  background: $color-text-link;
  border-radius: 100px;
  border: none;
  color: $color-base;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 16px;
  right: 0;
  text-align: center;
  vertical-align: middle;
  &.disabled {
    background: #d9b3b0;
    cursor: auto;
  }
} //.button

.textbox {
  background: $color-1st;
  border-radius: 8px;
  border: solid 1px $color-text-link;
  box-shadow: none;
  color: $color-text-link;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  outline: 0;
  padding: 8px 31px 8px 8px;
  vertical-align: middle;
} //.textbox
