@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header {
  display: none;
  visibility: hidden;
  background: white;
  box-shadow: 0 0 3px #888;
  height: 46px;
  position: fixed;
  width: 100%;
  z-index: 99; }
  #header > ul {
    background: #F00;
    height: 100%;
    padding-left: 20px;
    width: 100%; }
    #header > ul > li {
      display: inline-block;
      height: 100%; }
      #header > ul > li > a {
        background: #F00;
        align-items: center;
        border: 1px solid #ccc;
        border-width: 0 1px;
        box-sizing: border-box;
        color: #333;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 0 30px;
        text-align: center;
        text-decoration: none; }
        #header > ul > li > a:hover {
          box-shadow: 0 -5px rgba(0, 0, 0, 0.2) inset;
          box-sizing: border-box; }

#Canopy {
  box-shadow: 0 0 3px #888;
  position: relative;
  top: 46px;
  width: 100%; }
  #Canopy #Canopy-header {
    background: #8f0700;
    height: 175px;
    width: 100%; }
  #Canopy #Canopy-navBar {
    background: #FFF;
    height: 60px;
    width: 100%; }

@font-face {
  font-family: 'edgeicons';
  src: url("edge-icons-Regular.woff") format("woff"); }

#ProfileCard {
  padding: 0 5px;
  width: 290px; }
  #ProfileCard > * {
    margin-bottom: 10px; }
  #ProfileCard #Card-icon {
    background: #FFF;
    border-radius: 50%;
    height: 210px;
    position: relative;
    top: -200px;
    width: 210px; }
    #ProfileCard #Card-icon > img {
      border-radius: 50%;
      display: block;
      height: 200px;
      width: 200px; }
  #ProfileCard #Card-wrapper {
    color: #14171a;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
    top: -205px;
    line-height: 1.4em; }
    #ProfileCard #Card-wrapper #Card-handle #screen {
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
      word-wrap: break-word; }
    #ProfileCard #Card-wrapper #Card-handle #handle {
      color: #657786;
      font-size: 14px; }
    #ProfileCard #Card-wrapper #Card-des {
      margin-top: 10px; }
    #ProfileCard #Card-wrapper #Card-location {
      margin-top: 10px;
      display: inline-block;
      color: #657786; }
      #ProfileCard #Card-wrapper #Card-location::before {
        content: '\f031';
        font-family: 'edgeicons'; }
    #ProfileCard #Card-wrapper #Card-urlText-wrapper {
      color: #657786; }
      #ProfileCard #Card-wrapper #Card-urlText-wrapper::before {
        content: '\f098';
        font-family: 'edgeicons'; }
      #ProfileCard #Card-wrapper #Card-urlText-wrapper #Card-urlText {
        color: #8f0700; }

#right {
  margin-left: 15px;
  width: 100%;
  max-width: 600px;
  min-width: 100px; }
  #right #tweet-box {
    background: #f3e6e5;
    width: 80%;
    display: block; }
    #right #tweet-box .textbox-wrapper {
      align-items: center;
      background: #f3e6e5;
      padding-left: 42px;
      padding-top: 10px;
      height: 100%;
      justify-content: center;
      width: 558px;
      display: block; }
    #right #tweet-box .button-wrapper {
      display: block;
      text-align: right;
      max-width: 541px;
      min-width: 41px;
      margin-bottom: 10px; }
      #right #tweet-box .button-wrapper .button.submit {
        margin-right: 14px; }
        #right #tweet-box .button-wrapper .button.submit:hover {
          background: #c20900; }
        #right #tweet-box .button-wrapper .button.submit:disabled {
          background: #484848;
          color: #b3b3b3; }
    #right #tweet-box .capture {
      display: flex;
      width: 100%; }
      #right #tweet-box .capture span.title {
        display: flex;
        align-items: center;
        width: 130px; }
    #right #tweet-box .textbox {
      width: 100%;
      max-width: 448px;
      margin-right: 14px; }
  #right article.history {
    visibility: hidden;
    display: none;
    background: #f5f8fa;
    margin-top: 1px;
    padding: 20px 0; }
    #right article.history:hover {
      background: #e6ecf0; }

@font-face {
  font-family: 'edgeicons';
  src: url("../edge-icons-Regular.woff") format("woff"); }

.outer-center {
  align-items: center;
  display: flex;
  justify-content: center; }

.outer-spacer {
  display: flex;
  justify-content: center; }

.inner-spacer {
  background: rgba(255, 0, 0, 0.5);
  width: 918px; }

body {
  background: #e6ecf0;
  height: 100%;
  width: 100%; }
  body #wrapper {
    padding-top: 10px; }
    body #wrapper #container {
      display: flex;
      height: 100%;
      padding: 56px 14px 15px;
      width: 100%;
      max-width: 918px; }

.button {
  background: #8f0700;
  border-radius: 100px;
  border: none;
  color: #e6ecf0;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 16px;
  right: 0;
  text-align: center;
  vertical-align: middle; }
  .button.disabled {
    background: #d9b3b0;
    cursor: auto; }

.textbox {
  background: white;
  border-radius: 8px;
  border: solid 1px #8f0700;
  box-shadow: none;
  color: #8f0700;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  outline: 0;
  padding: 8px 31px 8px 8px;
  vertical-align: middle; }
