div#ProfileCard__wrapper
  div#ProfileCard
    div.circleicon__wrapper
      img.circleicon(src="{{data['icon']}}" width=200 height=200)
    div#Card-wrapper
      div#Card-handle
        div#screen {{data['name']}}
        div#handle @5kdn
      p#Card-des {{data['description']}}
      span#Card-location {{data['location']}}
      br
      span#Card-urlText-wrapper
        a#Card-urlText(href="http://5kdn.red") http://5kdn.red
