div#right
  //- tweet box
  div#tweet-box: div.textbox-wrapper
    div: div.capture.name
      span.title name:
      input.textbox.name(type="text" placeholder="{{data['screen']}}")
      div.name.counter-wrapper
        div.name.counter 0
        div.name.maxval {{maxval["name"]}}

    div: div.capture.description
      span.title description:
      input.textbox.description(type="text" placeholder="{{data['description']}}")
      div.description.counter-wrapper
        div.description.counter 0
        div.description.maxval {{maxval["description"]}}

    div: div.capture.location
      span.title locale:
      input.textbox.location(type="text" placeholder="{{data['location']}}")
      div.location.counter-wrapper
        div.location.counter 0
        div.location.maxval {{maxval["location"]}}

    div.button-wrapper
      input#allow_tweet(type="checkbox" name="tweet" checked)
      span(name="allow_tweet"): label(for="allow_tweet") ツイートする&nbsp;&nbsp;&nbsp;
      button.button.submit(type="button" disabled)
        span.button-text 変更

  //- change log
  |
  |{% for log in logs %}
  article.history {{log[4]}} に変更されました。
    br
    |なまえ：{{log[1]}}
    br
    |ばしょ：{{log[2]}}
    br
    |あ　れ：{{log[3]}}
  |{% endfor %}
