div#right
  //- tweet box
  div#tweet-box: div.textbox-wrapper
    div: div.capture
      span.title name:
      input.textbox.name(type="text" placeholder="{{data['screen']}}")

    div: div.capture
      span.title description:
      input.textbox.description(type="text" placeholder="{{data['description']}}")

    div: div.capture
      span.title locale:
      input.textbox.location(type="text" placeholder="{{data['location']}}")

    div.button-wrapper
      input#allow_tweet(type="checkbox" name="tweet" checked)
      span(name="allow_tweet"): label(for="allow_tweet") ツイートする&nbsp;&nbsp;&nbsp;
      button.button.submit(type="button" disabled)
        span.button-text 変更

  //- change log
  |
  |{% for log in logs %}
  article.history {{log['update']}} に変更されました。
  |なまえ：{{logs['name']}}
  br
  |　ばしょ：{{logs['location']}}
  br
  |　あ　れ：{{logs['discription']}}
  |{% endfor %}
